.info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 11px -1px #000000;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  color: #fff;
  transition: all 0.15s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
  .info__proffit {
    display: flex;
    align-items: center;
    p {
      font-size: 35px;
      font-weight: bold;
    }
    span {
      display: flex;
      margin-left: 10px;
    }
  }
}
